.herosection{
    margin-left: 7%;
    margin-top: 10%;
    display: flex;
    gap: 8.5%;
}


@font-face {
    font-family: Avenir Next;
    src: url(../../font/avenir/AvenirNextLTPro-Regular.otf);
}


.herosection1{
    width: 38%;
    height: 505px;
}

.we-bring{
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 151.1%;
    text-transform: capitalize;
    color: #3D4C5E;
}

#br{
    color: blue;
}

.careapp-works{
    margin-top: 5%;
    font-family: Avenir Next;
    font-style: normal; 
    font-weight: 500;
    font-size: 20px;
    line-height: 170.1%;
    text-transform: capitalize;
    color: #3D4C5E;
}

.our-doctors{
    margin-top: 3%;
    margin-bottom: 17%;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 151.1%;
    text-transform: capitalize;
    color: #7D988E;
}

.chat-btn{
    padding-left: 6%;
    display: flex;
    width: 65%;
    height: 17%;
    margin-top: 4%;
    background: #3772FF;
    border-color: blue;
    border-radius: 40px;
    
}

.chat{ 
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.wechat{
    margin-top: 8%;
    margin-right: 4%;
}

.herosection2{
    margin-top: -4.5%;
    margin-left: 6%;
}




 @media screen and (max-width: 720px) {
    .we-bring{
        font-size: 22px;
    }

    .careapp-works, .our-doctors{
        font-size: 17px;
    }

    .herosection2{
        margin-left: 1%;
    }
    .heroimg{
        margin-top: 70px;
        width: 300px ;
        height: 350px ;
    }

    .herosection{
        margin-bottom: 450px;
    }

    .chat-btn{
        width:80%;
        height: 50px;
       }
    
       .chat{
        width: 90%;
        font-size: 14px;
        margin-left: -5%;
        margin-top: 7px;
       }
    
       .wechat{
        margin-left: 0.2%;
        width: 15%;
        height: 20px;
       }
}

@media screen and (min-width: 721px) and (max-width: 1021px) {

    .we-bring{
        font-size: 27px;
    }

    .careapp-works, .our-doctors{
        font-size: 19px;
    }
        .heroimg{
            width: 100%;
            height: 80%;
        }

        .chat-btn{
            width:90%;
            height: 50px;
           }
           .chat{
            width: 90%;
            font-size: 14px;
            margin-left: -5%;
            margin-top: 7px;
           }
        
           .wechat{
            margin-left: 0.2%;
            width: 15%;
            height: 20px;
           }

           .herosection{
            margin-bottom: 450px;
        }
}

@media screen and (min-width: 1021px) and (max-width: 1380px) {

    .we-bring{
        font-size: 37px;
    }

    .careapp-works, .our-doctors{
        font-size: 25px;
    }
        .heroimg{
            margin-top: 50px;
            width: 100%;
            height: 80%;
        }

        .chat-btn{
            width:70%;
            height: 50px;
           }
           .chat{
            width: 90%;
            font-size: 20px;
            margin-left: -5%;
            margin-top: 7px;
           }
        
           .wechat{
            margin-left: 0.2%;
            width: 15%;
            height: 20px;
           }

           .herosection{
            margin-bottom: 450px;
        }
}
 