.header{
    margin-top: 3%;
    margin-left: 7%;
    display: flex;
}

@font-face {
    font-family: Avenir Next;
    src: url(../font/avenir/AvenirNextLTPro-Regular.otf);
}

@font-face {
    font-family: Poppins;
    src: url(../font/poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Space Grotesk;
    src: url(../font/space/static/SpaceGrotesk-Regular.ttf);
}

.section1{
    Gap: 40%; 
    display: flex;
}

.careimg{
    width: 48px;
    height: 48px;
}

.linee{
        border-left: 1px solid ;
        height: 50px;
}

.careapp{
    margin-top: 6%;
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: rgba(55, 114, 255, 1);
}

.section2{
    margin-top: 0.5%;
    margin-left: 15%;
    gap: 55%;
    display: flex;
    font-family: Avenir Next;
    font-style: normal;
}

.home{
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #3D4C5E;
}

.services{
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;
    color: #546881;
}

.payment{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;
    color: #546881;
}

.section3{
    margin-left: 30%;
    gap: 50%;
    display: flex;
    font-family: Avenir Next;
    font-style: normal;
}

.header-signup-btn{
    width: 123px;
    height: 43px;
    padding: 8px 19px;
    background: #3772FF;
    border-color: #3772FF;
    border-radius: 40px;
}

.signup{
    width: 80px;
    margin-top: -3%;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 200;
    font-size: 17px;
    line-height: 27px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.login-btn{
    width: 123px;
    height: 43px;
    padding: 8px 28px;
    background: white;
    border: 3px solid;
    border-color: rgba(193, 211, 255, 1);
    border-radius: 40px;
}

.login{
    width: 60px;
    margin-top: -3%;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 200;
    font-size: 17px;
    line-height: 27px;
    padding-right: 10px;
    text-transform: capitalize;
    color: #3772FF;
}

.hr{
    margin-top: 1%;
    width: 100%;
    border-bottom: 0px solid lime;
}

@media screen and (min-width: 350px) and (max-width: 569px) {


    .hr{
        margin-top: 1%;
        width:250%;
    }

    .header{
        margin-left: 3% ;
       }
    
       .section1{
        gap: 10%;
       }
    
       .section2{
        margin-left: 25%;
        gap: 30%;
       }
    
       .home, .services, .payment{
        font-size: 18px;
       }
    
       .services, .payment{
        margin-top: 1%;
       }
    
       .section3{
        gap: 2%;
        margin-top: 1%;
        margin-left: 40%;
       }
    
       .header-signup-btn{
        width: 50%;
        height: 35px;
       }
    
       .signup{
        font-size: 18px;
        margin-top: -8px;
       }
    
       .login-btn{
        margin-left: 10%;
        width: 45%;
        height: 35px;
       }
    
       .login{
        font-size: 18px;
        margin-top: -8px;
       } 

}
@media screen and (min-width: 570px) and (max-width: 720px) {

   .header{
    margin-left: 3% ;
   }

   .section1{
    gap: 10%;
   }

   .section2{
    margin-left: 6%;
    gap: 10%;
   }

   .home, .services, .payment{
    font-size: 17px;
   }

   .services, .payment{
    margin-top: 1%;
   }

   .section3{
    gap: 2%;
    margin-top: 1%;
    margin-left: 9%;
   }

   .header-signup-btn{
    width: 75px;
    height: 30px;
   }

   .signup{
    width: 70px;
    font-size: 14px;
    margin-left: -49%;
    margin-top: -8px;
   }

   .login-btn{
    margin-left: 10%;
    width: 75px;
    height: 30px;
   }

   .login{
    width: 70px;
    font-size: 14px;
    margin-left: -28px;
    margin-top: -8px;
   }
}

@media screen and (min-width: 721px) and (max-width: 821px) {
 
    .header{
        margin-left: 5% ;
       }
    
       .section1{
        gap: 15%;
       }
    
       .section2{
        margin-left: 10%;
        gap: 15%;
       }
    
       .home, .services, .payment{
        font-size: 18px;
       }
    
       .services, .payment{
        margin-top: 5px;
       }
    
       .section3{
        gap: 2%;
        margin-top: 1%;
        margin-left: 14%;
       }
    
       .header-signup-btn{
        width: 75px;
        height: 30px;
       }
    
       .signup{
        width: 70px;
        font-size: 14px;
        margin-left: -49%;
        margin-top: -8px;
       }
    
       .login-btn{
        margin-left: 10%;
        width: 75px;
        height: 30px;
       }
    
       .login{
        width: 70px;
        font-size: 14px;
        margin-left: -28px;
        margin-top: -8px;
       }

}

@media screen and (min-width: 822px) and (max-width: 921px) {

    .header{
        margin-left: 7% ;
       }
    
       .section1{
        gap: 15%;
       }
    
       .section2{
        margin-left: 12%;
        gap: 20%;
       }
    
       .home, .services, .payment{
        font-size: 21px;
       }
    
       .services, .payment{
        margin-top: 5px;
       }
    
       .section3{
        gap: 3%;
        margin-top: 1%;
        margin-left: 15%;
       }
    
       .header-signup-btn{
        width: 75px;
        height: 30px;
       }
    
       .signup{
        width: 70px;
        font-size: 14px;
        margin-left: -49%;
        margin-top: -8px;
       }
    
       .login-btn{
        margin-left: 10%;
        width: 75px;
        height: 30px;
       }
    
       .login{
        width: 70px;
        font-size: 14px;
        margin-left: -28px;
        margin-top: -8px;
       }
    
}

@media screen and (min-width: 921px) and (max-width: 1000px) {
    .header{
    margin-left: 7% ;
   }

   .section1{
    gap: 17%;
   }

   .section2{
    margin-left: 13%;
    gap: 18%;
   }

   .home, .services, .payment{
    font-size: 22px;
   }

   .services, .payment{
    margin-top: 5px;
   }

   .section3{
    gap: 2%;
    margin-top: 1%;
    margin-left: 14%;
   }

   .header-signup-btn{
    width: 105px;
    height: 35px;
   }

   .signup{
    width: 70px;
    font-size: 17px;
    margin-left: -5%;
    margin-top: -6px;
   }

   .login-btn{
    margin-left: 10%;
    width: 105px;
    height: 35px;
   }

   .login{
    width: 70px;
    font-size: 17px;
    margin-left: -10px;
    margin-top: -6px;
   }
}

   @media screen and (min-width: 1001px) and (max-width: 1100px) {
    .header{
    margin-left: 7% ;
   }

   .section1{
    gap: 25%;
   }

   .section2{
    margin-left: 13%;
    gap: 21%;
   }

   .home, .services, .payment{
    font-size: 24px;
   }

   .services, .payment{
    margin-top: 5px;
   }

   .section3{
    gap: 3%;
    margin-top: 1%;
    margin-left: 17%;
   }

   .header-signup-btn{
    width: 105px;
    height: 35px;
   }

   .signup{
    width: 70px;
    font-size: 17px;
    margin-left: -5%;
    margin-top: -6px;
   }

   .login-btn{
    margin-left: 10%;
    width: 105px;
    height: 35px;
   }

   .login{
    width: 70px;
    font-size: 17px;
    margin-left: -10px;
    margin-top: -6px;
   }
}

@media screen and (min-width: 1101px) and (max-width: 1200px) {
    .header{
    margin-left: 7% ;
   }

   .section1{
    gap: 25%;
   }

   .section2{
    margin-left: 16%;
    gap: 21%;
   }

   .home, .services, .payment{
    font-size: 26px;
   }

   .services, .payment{
    margin-top: 5px;
   }

   .section3{
    gap: 3%;
    margin-top: 1%;
    margin-left: 17%;
   }

   .header-signup-btn{
    width: 105px;
    height: 35px;
   }

   .signup{
    width: 70px;
    font-size: 17px;
    margin-left: -5%;
    margin-top: -6px;
   }

   .login-btn{
    margin-left: 10%;
    width: 105px;
    height: 35px;
   }

   .login{
    width: 70px;
    font-size: 17px;
    margin-left: -10px;
    margin-top: -6px;
   }
}

@media screen and (min-width: 1201px) and (max-width: 1280px) {
    .header{
    margin-left: 7% ;
   }

   .section1{
    gap: 30%;
   }

   .section2{
    margin-left: 13%;
    gap: 34%;
   }

   .home, .services, .payment{
    font-size: 27px;
   }

   .services, .payment{
    margin-top: 5px;
   }

   .section3{
    gap: 5%;
    margin-top: 1%;
    margin-left: 26%;
   }

   .header-signup-btn{
    width: 105px;
    height: 35px;
   }

   .signup{
    width: 70px;
    font-size: 17px;
    margin-left: -5%;
    margin-top: -6px;
   }

   .login-btn{
    margin-left: 10%;
    width: 105px;
    height: 35px;
   }

   .login{
    width: 70px;
    font-size: 17px;
    margin-left: -10px;
    margin-top: -6px;
   }
}

@media screen and (min-width: 1281px) and (max-width: 1400px) {

    .section2{
        margin-left: 17%;
        gap: 38%;
       }
    
       .home, .services, .payment{
        font-size: 28px;
       }
    
       .section3{
        margin-left: 23%;
        gap: 4%;
       }
}
 

@media screen and (min-width: 1401px) and (max-width: 1440px) {
    .section3{
        margin-left: 30%;
        gap: 30%;
       }
}