.boxsection{
    margin-top: 7%;
    gap: 27%;
    justify-content: space-around;
    display: flex;
    background: #F5F7F9;
    box-shadow: 0px 4px 4px rgba(142, 152, 168, 0.15);
    border-radius: 24px;
    padding: 120px 7%;
    margin-left: 7%;
    width: 73%;
    height: 160px;
}

@font-face {
    font-family: Avenir Next;
    src: url(../../font/avenir/AvenirNextLTPro-Regular.otf);
}

@font-face {
    font-family: Poppins;
    src: url(../../font/poppins/Poppins-Regular.ttf);
}

.plus1, .plus2{
    border-radius: 24px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    text-transform: capitalize;
    color: #090B0E;
    padding-left: 30%;
    padding-top: 8%;
    width: 78%;
    height: 87px;
}

.plus3{
    border-radius: 24px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    text-transform: capitalize;
    color: #090B0E;
    padding-left: 20%;
    padding-top: 8%;
    width: 52%;
    height: 75px;
    
}


.plus1{
    background: #C535F8;
}

.plus2{
    background: #B1D4F9;
}

.plus3{
    background: #F4CF09;
}

.pat, .regd{
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    text-transform: capitalize;
    color: #546881;
    width: 150%;
    height: 38px;
    margin-top: 29%;
}

.happy{
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    text-transform: capitalize;
    color: #546881;
    width: 150%;
    height: 38px;
    margin-left: -30%;
    margin-top: 19%;
}