.steth{
    background-image: url(../../assets/stethimg.png);
    background-size: cover;
    height: 808px;
    margin-top: 5%;
    padding-top: 20%;
    padding-left: 7%;
}

@font-face {
    font-family: Avenir Next;
    src: url(../../font/avenir/AvenirNextLTPro-Regular.otf);
}

@font-face {
    font-family: Poppins;
    src: url(../../font/poppins/Poppins-Regular.ttf);
}

.steth1{
    width: 55%;
    height: 198px;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 800;
    font-size: 53px;
    line-height: 66px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.steth2{
    margin-top: 4%;
    width: 50%;
    height: 96px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.steth3{
    height: 50%;
}

.stethchat{
    padding-left: 3%;
    display: flex;
    width: 22%;
    height: 17%;
    margin-top: 7%;
    background: #3772FF;
    border-color: blue;
    border-radius: 40px;
    
}

.stethchat2{ 
    margin-top: 5.5%;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.stethwechat{
    margin-top: 5.5%;
    margin-right: 4%;
}
