.faq{
    margin-top: 7%;
}

@font-face {
    font-family: Avenir Next;
    src: url(../../font/avenir/AvenirNextLTPro-Regular.otf);
}

@font-face {
    font-family: Poppins;
    src: url(../../font/poppins/Poppins-Regular.ttf);
}

.faq1{
    margin-left: 10%;
    display: flex;
}

.faqimg{
    width: 159px;
    height: 159px;
    margin-left: 30%;
}

.faqheading{
    width: 603px;
    height: 66px;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 66px;
    text-align: center;
    text-transform: capitalize;
    color: #3A4742;
    margin-top: 14%;
    
}

.faqsub{
    margin-top: 3%;
    width: 724px;
    height: 68px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 170.1%;
    text-transform: capitalize;
    color: #3D4C5E;
}

#faqline{
    margin: 0;
    width: 400px;
    height: 8px;
    background: #A6CABD;
    border-radius: 8px 8px 0px 0px;
}

.faq2{
    margin-left: 7%;
    margin-top: 5%;
    padding-top: 1%;
    padding-left: 3%;
    width: 81%;
    background: #FCFDFD;
    box-shadow: 0px 4px 6px rgba(41, 45, 50, 0.15);
    border-radius: 24px;
    cursor: pointer;
}

.qa{
    margin-top: 3%;
    width: 100%;
    background: #FCFDFD;
}

.question{
    display: flex;
    margin-left: 5%;
    width: 95%;
    height: 44px;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    text-transform: capitalize;
    color: #3D4C5E;
}

.answer{
    margin-left: 8%;
    width: 80%;
    height: 190px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    text-transform: capitalize;
    color: #546881;
    max-height: 0;
    overflow: hidden;

}

.answers{
    margin-left: 8%;
    width: 80%;
    height: 210px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    text-transform: capitalize;
    color: #546881;

}


#queshr{
    margin-top: 3%;
    margin-left: 1.5%;
    width: 96%;
    color: red;
    border-color: rgba(177, 212, 249, 1) ;
    margin-bottom: 4%;
}

.iquest{
    width: 92%;
}

@media screen and (min-width: 350px) and (max-width: 569px) {

    .faq{
        width: 250%;
    }

}

@media screen and (min-width: 570px) and (max-width: 720px) {

    .faq{
        margin-left: 1px;
    }
    .faqimg{
        display: none;
    }
    .faqheading{
        font-size: 32px ;
        margin-left: -50px;
    }
    .faqsub{
        font-size: 18px;
        margin-left: -10px;
        width: 90%;
    }

    .question{
        font-size: 19px;
        line-height: 25px;
    }
    
    .answers{
        font-size: 19px;
        line-height: 27px;
    }
}

@media screen and (min-width: 721px) and (max-width: 1021px) {

    .faqsub{
        width: 90%;
    }

    .faqheading{
        margin-left: -9%;
        font-size: 40px;
    }

    .faqimg{
        width: 20%;
        margin-left: -30%;
    }

    .question{
        font-size: 21px;
        line-height: 30px;
    }

    #answerr{
        font-size: 19px;
    }

}

@media screen and (min-width: 1021px) and (max-width: 1480px) {

    .faqsub{
        font-size: 23px;
        width: 95%;
    }

    .faqimg{
        width: 20%;
        margin-left: -30%;
    }
    
    .question{
        font-size: 24px;
        line-height: 30px;
    }

    #answerr{
        font-size: 21px;
    }

}