.doctorsit{
    display: flex;
    background: #FFFFFF;
    margin-top: 7%;
    margin-left: 7%;
}

@font-face {
    font-family: Avenir Next;
    src: url(../../font/avenir/AvenirNextLTPro-Regular.otf);
}

@font-face {
    font-family: Poppins;
    src: url(../../font/poppins/Poppins-Regular.ttf);
}

.yes{
    width: 427px;
    height: 66px;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #7D988E;
}

.ourd{
    margin-top: 5%;
    width: 60%;
    height: 52px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-transform: capitalize;
    color: #546881;
}

.how{
    margin-top: 8%;
    margin-left: 16%;
    width: 211px;
    height: 65px;
    background: #F6FAF8;
    border: 0.5px dashed #7D988E;
    border-radius: 60px;
}

.how2{
    width: 147px;
    height: 33px;
    margin-left: 15%;
    margin-top: 9%;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #4B5B55;
}

.signupp{
    margin-top: 10%;
    width: 15%;
    height: 42px;
    background: #E6F1FD;
    border-radius: 8px;
}

.signupp1{
    padding-top: 13%;
    margin-left: 10px;
    width: 100%;
    height: 16px;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-transform: capitalize;
    color: #546881;
}

.signupp2{
    margin-top: 5%;
    width: 70%;
    height: 44px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-transform: capitalize;
    color: #546881;
}

.verif{
    margin-top: 10%;
    width: 19%;
    height: 42px;
    background: rgba(218, 110, 44, 0.3);
    border-radius: 8px;
}

.verif1{
    padding-top: 10%;
    margin-left: 10px;
    width: 100%;
    height: 16px;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-transform: capitalize;
    color: #546881;
}

.verif2{
    margin-top: 5%;
    width: 70%;
    height: 44px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-transform: capitalize;
    color: #546881;
}

.makepay{
    margin-top: 10%;
    width: 21%;
    height: 42px;
    background: #F6E6FD;
    border-radius: 8px;
}

.makepay1{
    padding-top: 10%;
    margin-left: 10px;
    width: 100%;
    height: 16px;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-transform: capitalize;
    color: #546881;
}

.makepay2{
    margin-top: 5%;
    width: 70%;
    height: 44px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-transform: capitalize;
    color: #546881;
}

.cons{
    margin-top: 15%;
    width: 19%;
    height: 42px;
    background: rgba(50, 97, 100, 0.35);
    border-radius: 8px;
}

.cons1{
    padding-top: 10%;
    margin-left: 10px;
    width: 100%;
    height: 16px;
    font-family: Avenir Next;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-transform: capitalize;
    color: #546881;
}

.cons2{
    margin-top: 5%;
    width: 70%;
    height: 44px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-transform: capitalize;
    color: #546881;
}

.doctorsitimg{
    margin-top: -20%;
    margin-left: -10%;
    width: 800px;
    height: 100%;
}

.strand{
    margin-left: 80%;
}

@media screen and (max-width: 720px) {

    .doctorsit2{
        display: none;
    }

    .signupp{
        width: 120px;
    }

    .verif{
        width: 130px;
    }

    .makepay{
        width: 150px;
    }

    .cons{
        width: 130px;
    }
}

@media screen and (min-width: 721px) and (max-width: 1021px) {

    .doctorsit{
        margin-top: 120px;
    }

    .how{
        margin-top: 70px;
    }

    .signupp{
        width: 25%;
    }

    .signupp2{
        font-size: 16px;
    }

    .verif{
        width: 28%;
    }

    .verif2{
        font-size: 16px;
    }

    .makepay{
        margin-top: 80px;
        width: 37%;
    }

    .makepay2{
        font-size: 16px;
    }

    .cons{
        margin-top: 80px;
        width: 33%;
    }

    .cons2{
        font-size: 16px;
    }

    .doctorsit2{
        margin-top: 220px;
        margin-left: -13%;
    }
    .doctorsitimg{
        width: 100%;
        height: 60%;
    }

    .strand{
        width: 15%;
        height: 10%;
    }
}

@media screen and (min-width: 1021px) and (max-width: 1580px) {

    .doctorsit{
        margin-top: 120px;
    }

    .how{
        margin-top: 70px;
    }

    .signupp{
        width: 18%;
        height: 4%;
    }

    .signupp1, .verif1, .makepay1, .cons1{
        font-size: 17px;
    }

    .signupp2{
        font-size: 20px;
    }

    .verif{
        margin-top: 80px;
        width: 21%;
        height: 4%;
    }

    .verif2{
        font-size: 20px;
    }

    .makepay{
        margin-top: 80px;
        width: 26%;
        height: 4.5%;
    }

    .makepay2{
        font-size: 20px;
    }

    .cons{
        margin-top: 110px;
        width: 23%;
        height: 4%;
    }

    .cons2{
        font-size: 20px;
    }

    .doctorsit2{
        margin-top: 300px;
        margin-left: -13%;
    }
    .doctorsitimg{
        width: 120%;
        height: 80%;
    }

    .strand{
        width: 15%;
        height: 10%;
    }   

}